.btn {
  display: inline-block;
	color: black;
	font-size: 18px;
	font-weight: 700;

	background-color: white;
	padding-left: 88px;
	padding-right: 88px;
	padding-top: 18px;
	padding-bottom: 18px;

	cursor: pointer;
}

