.new-arrivals__header {
	display: flex;
	justify-content: center;
	align-items: baseline;
	position: relative;
	margin-bottom: 80px;
}

.new-arrivals__list {
	list-style: none;
	margin: 0;
	padding: 0;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.new-arrivals__item {
	width: 598px;
	height: 824px;
	border: 5px solid #b3a282;
	margin-bottom: 108px;

	position: relative;

	&:hover .new-arrivals__desc,
	&:focus .new-arrivals__desc {
	  display: flex;
	}
}

.new-arrivals__desc {
	background-color: rgba(166, 146, 108, 0.85);
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;

  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &::before {
    content: "";
    width: 515px;
    height: 741px;
    border: 4px solid #eeeeee;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
}

.new-arrivals__title {
	color: white;
	line-height: 32px;
	font-size: 42px;
	font-weight: 700;
	text-transform: none;

	margin-bottom: 5px;
	margin-top: -20px;
	z-index: 2;
}

.new-arrivals__info {
	color: white;
	line-height: 32px;
	font-size: 20px;
	text-transform: none;
	margin-bottom: 50px;
	z-index: 2;
}

.new-arrivals__link {
	color: white;
	font-size: 20px;
	font-weight: 700;
	text-transform: none;
	text-decoration: underline;
	cursor: pointer;
	z-index: 2;

	&:hover {
	  color: #e6d1bb;
	  text-decoration: none;
	}
}