.slider__control {
	width: 30px;
	height: 30px;

	border: 3px solid black;
	border-left: none;
	border-top: none;
	background-color: transparent;

	text-indent: -9999px;
	overflow: hidden;
	white-space: nowrap;

	transform: rotate(130deg);
  cursor: pointer;
  z-index: 2;

	&--next {
	  transform: rotate(310deg);

	}
}

.slider__item {
	z-index: 2;
}